html {
  background-color: #1D2D44;
}

/* .App {
  height: fit-content;
  width: fit-content;
} */

header {
  position: relative;
  background-color: #0D1321;
  color: #B2BCC2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12.0rem;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #1D2D44;
  color: #B2BCC2;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15.5em;
}

footer {
  text-align: center;
  height: 7rem;
  background-color: #0D1321;
  color: #B2BCC2;
}

fieldset {
  text-align: center;
  background-color: #3E5C76;
}

legend {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 15rem;  
}

input {
  color: #B2BCC2;
  background-color: #1D2D44;
  border-radius: 20%;
  height: 1.25rem;
}

input:hover {
  background-color: #B2BCC2;
  color: #1D2D44;
}

select {
  -webkit-appearance: none;
  text-align: center;
  color: #B2BCC2;
  background-color: #1D2D44;
  border-radius: 17%;
  height: 1.5rem;
}

select:hover {
  background-color: #B2BCC2;
  color: #1D2D44;
  cursor: crosshair;
}

.navLink {
  margin: 2.0%;
  color: #F0EBD8;
  text-decoration: none;
}

.navLink:hover {
  color: #748CAB;
  text-decoration: underline;
}

.link {
  color: #F0EBD8;
  text-decoration: none;
}

.link:hover {
  color: #748CAB;
  text-decoration: underline;
}

.title {
  font-size: 2.25rem;
  width: 40%;
  margin: 2%;
}

