html {
  background-color: #1D2D44;
}

header {
  position: relative;
  background-color: #0D1321;
  color: #B2BCC2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12.0rem;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #1D2D44;
  color: #B2BCC2;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15.5em;
}

footer {
  text-align: center;
  height: 7rem;
  background-color: #0D1321;
  color: #B2BCC2;
}

.navLink {
  margin: 2.0%;
  color: #F0EBD8;
  text-decoration: none;
}

.navLink:hover {
  color: #748CAB;
  text-decoration: underline;
}

.link {
  color: #F0EBD8;
  text-decoration: none;
}

.link:hover {
  color: #748CAB;
  text-decoration: underline;
}

