header {
  background-color: #1D2D44;
  color: #F0EBD8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.0rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 10.5em;
}

.navLink {
  color: #F0EBD8;
  text-decoration: none;
}

.navLink:hover {
  color: #748CAB;
  text-decoration: underline;
}
